@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Krub&display=swap');

:root{
    --primary-color: #B6860F;
    --second-color: #00403A;
    --white: #FFF;
    --black: #000;
    --gray: #EDEDED;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color);
}
  
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 8px;
}

*::-webkit-scrollbar-track {
background: none;
}

*::-webkit-scrollbar-thumb {
background-color: var(--primary-color);
border-radius: 20px;
}


/*
Geral
*/
.button-primary{
    font-family: 'Krub', sans-serif;
    background-color: none;
    border: 1px solid var(--white);
    border-radius: 50px;
    padding: 12px 10px;
    transition: all 0.5s;
}

.button-primary:hover{
    border-color: var(--second-color);
    background-color: var(--second-color);
}

a.button-primary, a.button-reverse{
    color: var(--white);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 6px;
    text-decoration: none;
    text-transform: none;
}

.button-second{
    font-family: 'Krub', sans-serif;
    background-color: none;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    padding: 12px 10px;
    transition: all 0.5s;
}

.button-second:hover{
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

a.button-second{
    color: var(--primary-color);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 6px;
    text-decoration: none;
    text-transform: none;
}
a.button-second:hover{
    color: var(--white);
}

.button-reverse{
    font-family: 'Krub', sans-serif;
    background-color: var(--second-color);
    border: 1px solid var(--white);
    border-radius: 50px;
    padding: 12px 10px;
    transition: all 0.5s;
}

.button-reverse:hover{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.mega-title{
    font-family: 'Cormorant', serif;
    font-size: 135px;
    line-height: 130px;
    color: var(--black);
}

.title-1{
    font-family: 'Cormorant', serif;
    font-size: 35px;
    line-height: 35px;
    color: var(--primary-color);
}
.title-2{
    font-family: 'Cormorant', serif;
    font-size: 55px;
    line-height: 55px;
    color: var(--primary-color);
}
.text-p{
    font-family: 'Krub', sans-serif;
    font-size: 16px;
}
.text-citation{
    font-family: 'Krub', sans-serif;
    font-size: 12px;
    letter-spacing: 6px;
}

/*
Header and Menu
*/
header{
    padding: 75px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
}

.menu-closed, .header-menu-open{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon{
    display: flex;
    color: var(--white);
    align-items: center;
    gap: 15px;
    width: 92.11px;
}

.title-menu {
    opacity: 0;
    font-family: 'Krub', sans-serif;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 6px;
    transition: all 0.5s;
}

.img-menu, .title-menu{
    cursor: pointer;
}

.img-menu:hover + .title-menu, .title-menu:hover {
    opacity: 1;
}

.menu-expanded{
    font-family: 'Cormorant', serif;
    color: var(--white);
    background-color: var(--second-color);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px;
    display: none;
    z-index: 999;
}

.header-menu-open{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.menu-principal{
    width: 90%;
    font-family: 'Cormorant', serif;
    font-size: 45px;
    letter-spacing: 4.5px;
    line-height: 55px;
    color: var(--white);
    margin-top: 151px;
    margin-bottom: 120px;
}

.menu-principal ul {
    list-style: none;
}

.menu-principal ul li{
    margin-bottom: 36px;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-principal ul li:hover p{
    text-decoration: underline 1px solid var(--gray);
    text-underline-offset: 15px;
}

.menu-principal ul li:hover p + .submenu{
    opacity: 1;
}

.submenu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:70px;
    width: 70%;
    opacity: 0;
    transition: all 0.5s;
}

ul.submenu li{
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 0;
    margin-left: 0;
    line-height: 20px;
}

ul.submenu li:hover{
    text-shadow: 0 0 1px #FFF, 0 0 1px #FFF;
}

.search-lang-phone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap:70px;
}

.search-lang-phone form{
    flex: 1;
    border-bottom: 1px solid var(--gray);
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.search-lang-phone form input{
    background-color: transparent;
    box-shadow: none;
    border-color: transparent;
    outline: none;
    font-family: 'Cormorant', serif;
    font-size: 20px;
    letter-spacing: 2px;
    color: var(--white);
}

.search-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.search-button img{
    width: 18px;
}
.search-button:hover img{
    text-shadow: 0 0 1px #FFF, 0 0 1px #FFF;
}

.language, .language ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}

.language ul{
    gap:10px;
}

.language p{
    font-size: 20px;
    letter-spacing: 2px;
}

.language ul li a{
    font-size: 20px;
    letter-spacing: 2px;
    color: var(--white);
    text-decoration: none;
}

.language ul li.active a{
    text-shadow: 0 0 1px #FFF, 0 0 1px #FFF;
}

.language ul li:hover a{
    text-decoration: underline 1px solid var(--gray);
    text-underline-offset: 10px;
}

/*
Section 1 - Carousel
*/
.carousel-1{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}

.controls-carousel-1{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:15px;
    padding-right: 60px;
    margin-bottom: 21px;
}
.control-left, .control-right{
    cursor: pointer;
    width: 60px;
}
.control-left img, .control-right img{
    height: 20px;
    position: relative;
    margin: 0;
    transition: all 0.5s;
}
.control-left:hover img{
    margin-left: -10px;
}
.control-right:hover img{
    margin-left: 10px;
}

.content-carousel-1{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 125px;
    height: calc(100vh - 100px);
}

.content-carousel-1 .slide{
    position: relative;
    width: 90%;
    display: none;
    transition: all 0.5s;
}

.content-carousel-1 div.active{
    display: flex;
}

.text-carousel-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap:20px;
    position: absolute;
    z-index: 3;
}

.carousel-1 p{
    font-family: 'Krub', sans-serif;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 6px;
    color: var(--white);
    margin-top: 100px;
}

.carousel-1 h1{
    font-family: 'Cormorant', serif;
    font-size: 150px;
    line-height: 140px;
    color: var(--white);
}

.img-carousel-1-background{
    width: 93%;
    margin-left: 7%;
    position: relative;
    z-index: 1;
}
.img-carousel-1-background img{
    position: absolute;
    opacity: 1;
    transition: all 0.5s;
    width: 100%;
}
.content-carousel-1 .slide:hover .img-carousel-1-background img.img-filter{
    opacity: 0;
}

/*
Boas vindas
*/
.bem-vindo{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 262px;
    display: grid;
    row-gap: 50px;
    column-gap: 150px;
    grid-template-columns: 40% 40%;
    grid-template-areas: 
    "A B"
    "A C"
    "D C";
}

.grid-img-1{
    cursor: pointer;
    grid-area: A;
    height: 920px;
    background-image: url('../images/homepage/nicola-rossio-hotel-destaque-quartos-1.jpg');
    transition: all 0.5s;
}
.grid-img-1:hover{
    background-image: url('../images/homepage/nicola-rossio-hotel-destaque-quartos-1-hover.jpg');
}
.grid-img-2{
    margin-top: 100px;
    cursor: pointer;
    grid-area: C;
    height: 753px;
    background-image: url('../images/homepage/nicola-rossio-hotel-bem-vindo-2.jpg');
    transition: all 0.5s;
}
.grid-img-2:hover{
    background-image: url('../images/homepage/nicola-rossio-hotel-bem-vindo-2-hover.jpg');
}
.grid-img-3{
    grid-area: D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.grid-text{
    grid-area: B;
    margin-top: -30px;
    padding-top: 50px;
}
.text-grid{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}
.text-grid h2.title-2{
    margin-top: -40px;
}

/*
Vista
*/
.vista{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    width: 87%;
    margin-right: 13%;
}
.vista div{
    position: relative;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.vista div img{
    position: absolute;
    margin-top: -50px;
    opacity: 1;
    cursor: pointer;
    transition: all 0.5s;
}
.vista div img.filter:hover{
    opacity: 0;
}
.vista p{
    margin-top: 70px;
}

/*
Inspiração
*/
.inspiration{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 310px;
    gap: 80px;
    margin-bottom: 100px;
}
.inspiration .mega-title{
    text-align: left;
}

.inspiration p{
    width: 655px;
}

.inspiration img{
    margin-top: -130px;
    align-self: flex-end;
}

/*
Quartos
*/
.quartos{
    display: flex;
    flex-direction: column;
    gap: 78px;
    align-items: center;
    width: 100%;
}

.carousel-2{
    width: 100%;
}

.controls-carousel-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.controls-carousel-2 .control-left{
    margin-left: 10%;
}
.controls-carousel-2 .control-right{
    margin-right: 10%;
}